<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
   
    <!-- <link th:href="@{/resources/css/main.css}" rel="stylesheet"/> -->
</head>
<body>
    <h2 class="hello-title" th:text="'Hello ' + ${ms} + '!'"></h2>
<!--     <script th:src="@{/resources/js/main.js}"></script> -->
</body>
</html>